.boton-default, .boton-disabled {
  color: #FBFAFF;
  font-size: 2em;
  padding: 1% 2%;
  text-transform: uppercase;
  letter-spacing: -2px;
  transition: background-color 0.4s ease-out; }

.page header, .page main, .page footer {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten; }

.bloq-merch .bloq-merch__products ul li div a {
  background-image: url("../img/fondo-productos.jpg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover; }

.bloq-bio article .grid-line::before, .bloq-bio article .grid-line::after {
  content: '';
  position: absolute;
  background-color: #1D0B43;
  z-index: 1; }

@media screen and (max-width: 830px) {
  .boton-default, .boton-disabled {
    font-size: 1.4em;
    letter-spacing: 0px; } }

@media screen and (max-width: 340px) {
  .boton-default, .boton-disabled {
    font-size: 1.1em; } }

/*!		GENERALES		*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::selection {
  color: #FBFAFF;
  background: #1D0B43; }

h1, h2, h3, h4, h5, h6, p, a {
  text-decoration: none;
  font-family: "Cormorant", serif; }

a {
  text-decoration: none !important; }

p {
  font-size: 18px; }

strong {
  font-weight: 600;
  color: #1D0B43; }

i {
  font-weight: 600;
  font-style: italic;
  text-shadow: 2px 2px 5px #767481; }

em {
  font-family: "Cormorant", serif;
  font-style: italic;
  font-weight: 500;
  padding: 0% 2%;
  border-left: solid 3px #1D0B43;
  border-right: solid 3px #1D0B43; }

ul {
  padding-left: 0 !important; }
  ul li {
    list-style-type: none; }

.boton-default {
  background-color: #1D0B43; }
  .boton-default:hover {
    background-color: #4F518C;
    text-decoration: line-through solid 2px; }

.boton-disabled {
  background-color: #767481;
  cursor: not-allowed;
  margin-top: 3%; }

/*!		HOME		*/
.home header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .home header video {
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100vh;
    transform: translateX(calc((100% - 100vw) / 2)); }
  .home header nav ul {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "menu1 logo menu2" "menu3 logo menu4";
    height: 100vh; }
    .home header nav ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      position: relative;
      background-color: #FBFAFF;
      transition: background-color 0.4s ease-out, color 0.4s ease-out;
      mix-blend-mode: soft-light; }
      .home header nav ul li:hover {
        background-color: #02010A; }
        .home header nav ul li:hover a {
          color: #FBFAFF; }
      .home header nav ul li a {
        font-size: 3em;
        font-weight: 600;
        text-align: center;
        color: #02010A;
        transition: color 0.4s ease-out; }
    .home header nav ul .bloq-link-menu {
      margin: 5%; }
    .home header nav ul .home-item-1 {
      grid-area: menu1;
      justify-self: start;
      align-self: start; }
    .home header nav ul .home-item-2 {
      grid-area: logo;
      justify-self: center;
      align-self: center; }
    .home header nav ul .home-item-3 {
      grid-area: menu2;
      justify-self: end;
      align-self: start; }
    .home header nav ul .home-item-4 {
      grid-area: menu3;
      justify-self: start;
      align-self: end; }
    .home header nav ul .home-item-5 {
      grid-area: menu4;
      justify-self: end;
      align-self: end; }
    .home header nav ul .bloq-logo {
      mix-blend-mode: difference;
      background-color: transparent;
      width: auto;
      height: auto; }
      .home header nav ul .bloq-logo:hover {
        background-color: transparent; }
      .home header nav ul .bloq-logo img {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto; }
  .home header .home-nav-responsive {
    display: none; }

.home .tooltip-inner {
  font-family: "Cormorant", serif;
  font-size: 2em;
  background-color: rgba(17, 0, 28, 0.9) !important; }

.home .home .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
  border-right-color: rgba(17, 0, 28, 0.9) !important; }

/*!		TEMPLATE PAGES 		*/
.page {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "header content" "header footer"; }
  .page header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    justify-self: stretch;
    align-self: stretch;
    padding-left: 2%;
    padding-right: 2%;
    height: 100vh;
    position: sticky;
    top: 0; }
    .page header nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-grow: 3; }
      .page header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;
        height: 100%; }
        .page header nav ul li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 80px;
          height: 80px;
          position: relative;
          background-color: transparent;
          opacity: 0.7;
          mix-blend-mode: difference;
          transition: background-color 0.4s ease-out, opacity 0.4s ease-out; }
          .page header nav ul li:hover {
            background-color: #FBFAFF;
            opacity: 1; }
            .page header nav ul li:hover a {
              color: #1D0B43; }
          .page header nav ul li a {
            font-size: 3em;
            font-weight: 600;
            text-align: center;
            color: #FBFAFF;
            transition: color 0.4s ease-out; }
    .page header .menu-responsive {
      display: none; }
    .page header .bloq-redes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 40px 40px;
      gap: 5% 20%;
      place-items: center;
      align-content: center;
      flex-grow: 1; }
      .page header .bloq-redes div img {
        aspect-ratio: 1/1;
        width: 30px;
        filter: opacity(0.7);
        transition: filter 0.4s ease-out; }
        .page header .bloq-redes div img:hover {
          filter: opacity(1); }
  .page .tooltip-inner {
    font-family: "Cormorant", serif;
    font-size: 2em;
    background-color: rgba(17, 0, 28, 0.9) !important; }
  .page .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: rgba(17, 0, 28, 0.9) !important; }
  .page main {
    grid-area: content;
    justify-self: stretch;
    align-self: stretch;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%; }
    .page main h1 {
      font-size: 3em;
      font-weight: 600;
      letter-spacing: -4px;
      text-decoration: line-through solid 2px;
      text-transform: uppercase;
      color: #1D0B43; }
    .page main hr {
      background: #1D0B43;
      height: 2px;
      rotate: -0.8deg;
      margin-top: -1.5%;
      margin-bottom: 5%; }
  .page footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    justify-self: stretch;
    align-self: stretch;
    padding-bottom: 3%; }
    .page footer p {
      font-size: 1.8em;
      color: #767481;
      text-align: center;
      margin-bottom: 0;
      mix-blend-mode: difference; }
    .page footer div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10%;
      margin: 1% 0%; }
      .page footer div a img {
        width: 40px;
        filter: opacity(0.7);
        transition: filter 0.4s ease-out; }
        .page footer div a img:hover {
          filter: opacity(1); }
    .page footer .sub-texto-footer {
      font-style: italic;
      font-size: 1.3em; }

/*!		MUSIC		*/
.bloq-albums {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: stretch; }
  .bloq-albums .bloq-albums__album {
    width: 45%;
    margin: 0% 2.5% 5%;
    align-self: center;
    position: relative;
    overflow: hidden; }
    .bloq-albums .bloq-albums__album:hover img {
      filter: brightness(60%) saturate(0.3); }
    .bloq-albums .bloq-albums__album:hover .bloq-albums__album__content {
      opacity: 1; }
    .bloq-albums .bloq-albums__album img {
      width: 100%;
      transition: filter 0.4s ease-out;
      filter: brightness(100%) saturate(1); }
    .bloq-albums .bloq-albums__album .bloq-albums__album__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      rotate: 4deg;
      opacity: 0;
      transition: opacity 0.4s ease-out; }
      .bloq-albums .bloq-albums__album .bloq-albums__album__content h2 {
        color: #FBFAFF;
        font-size: 3em;
        font-weight: 300;
        letter-spacing: -4px;
        text-decoration: line-through solid 2px;
        text-transform: uppercase;
        text-align: center; }
      .bloq-albums .bloq-albums__album .bloq-albums__album__content hr {
        background: #FBFAFF;
        height: 3px;
        width: 102%;
        opacity: 1;
        margin: 1% 0%; }
      .bloq-albums .bloq-albums__album .bloq-albums__album__content p {
        color: #FBFAFF;
        font-size: 2em;
        font-weight: 300;
        font-variant-numeric: lining-nums; }

/*!		MEDIA		*/
.bloq-media {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "fotos ." "fotos videos" ". videos";
  gap: 0 2%;
  place-items: stretch;
  align-content: start;
  padding: 0 2.5%;
  margin-bottom: 5%; }
  .bloq-media .bloq-media__fotos {
    grid-area: fotos;
    justify-self: stretch;
    align-self: stretch; }
  .bloq-media .bloq-media__videos {
    grid-area: videos;
    justify-self: stretch;
    align-self: stretch; }
  .bloq-media .bloq-media--hover {
    overflow: hidden;
    position: relative; }
    .bloq-media .bloq-media--hover:hover img {
      filter: brightness(60%) saturate(0.3); }
    .bloq-media .bloq-media--hover img {
      width: 100%;
      transition: filter 0.4s ease-out;
      filter: brightness(100%) saturate(1); }
  .bloq-media .bloq-media__hover__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    rotate: 4deg;
    opacity: 0;
    transition: opacity 0.4s ease-out; }
    .bloq-media .bloq-media__hover__content:hover {
      opacity: 1; }
    .bloq-media .bloq-media__hover__content h2 {
      color: #FBFAFF;
      font-size: 3em;
      font-weight: 300;
      letter-spacing: -4px;
      text-decoration: line-through solid 2px;
      text-transform: uppercase;
      text-align: center; }
    .bloq-media .bloq-media__hover__content hr {
      background: #FBFAFF;
      height: 3px;
      width: 102%;
      opacity: 1;
      margin: 1% 0%; }

/*		MERCH		*/
.bloq-merch {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 2.5%; }
  .bloq-merch .bloq-merch__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .bloq-merch .bloq-merch__filters h2 {
      color: #1D0B43;
      text-transform: uppercase;
      text-decoration: line-through solid 2px;
      font-size: 2.5em;
      font-weight: 500;
      margin-bottom: 0; }
    .bloq-merch .bloq-merch__filters select {
      font-family: "Cormorant", serif;
      font-size: 1.5em;
      font-weight: 300;
      border: none;
      color: #FBFAFF;
      background-color: rgba(29, 11, 67, 0.7);
      background-blend-mode: difference;
      padding: 1%;
      transition: background-color 0.4s ease-out; }
      .bloq-merch .bloq-merch__filters select:hover {
        background-color: rgba(29, 11, 67, 0.8); }
      .bloq-merch .bloq-merch__filters select:focus {
        background-color: #1D0B43; }
      .bloq-merch .bloq-merch__filters select:focus-visible {
        outline: none; }
      .bloq-merch .bloq-merch__filters select option:disabled {
        background-color: #1D0B43; }
  .bloq-merch .bloq-merch__products {
    margin-top: 5%; }
    .bloq-merch .bloq-merch__products ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      gap: 0.5%;
      flex-wrap: wrap;
      align-content: stretch; }
      .bloq-merch .bloq-merch__products ul li {
        width: 33%; }
        .bloq-merch .bloq-merch__products ul li div a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          aspect-ratio: 1/1; }
          .bloq-merch .bloq-merch__products ul li div a:hover img {
            transform: scale(1.1) rotate(-8deg); }
          .bloq-merch .bloq-merch__products ul li div a img {
            transition: transform 0.4s ease-out;
            width: 90%; }
        .bloq-merch .bloq-merch__products ul li div h3 {
          margin-top: 2%;
          color: #02010A;
          font-size: 1.8em;
          font-weight: 500; }
        .bloq-merch .bloq-merch__products ul li div p {
          color: #1D0B43;
          font-size: 1.5em;
          font-weight: 300;
          font-variant-numeric: lining-nums; }

/*		BIO		*/
.bloq-bio {
  padding: 0 2.5%; }
  .bloq-bio mark {
    background-color: transparent;
    padding: 0;
    color: #1D0B43;
    letter-spacing: 5px;
    font-weight: 500; }
  .bloq-bio .bloq-bio__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%; }
    .bloq-bio .bloq-bio__intro h2 {
      color: #1D0B43;
      text-transform: uppercase;
      text-decoration: line-through solid 2px;
      font-size: 2.5em;
      font-weight: 500;
      text-align: center; }
    .bloq-bio .bloq-bio__intro p {
      color: #02010A;
      text-align: center;
      font-size: 1.3em;
      max-width: 60vw; }
  .bloq-bio article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 60vh auto 20vh 40vh 40vh 20vh 40vh 40vh 40vh 40vh;
    grid-template-areas: "titulo1  contenido1" ". contenido1" "imagen imagen" "titulo2 contenido2" "contenido2-5 contenido2" "contenido2-5 contenido2" "contenido3 titulo3" "contenido3 ." "contenido3 contenido3-5" "contenido3-75 contenido3-5" "contenido3-75 final";
    gap: 0% 2%;
    place-items: stretch;
    align-content: start;
    overflow: hidden; }
    .bloq-bio article div {
      position: relative; }
      .bloq-bio article div h3 {
        color: #1D0B43;
        font-size: 2.5em;
        font-weight: 500; }
      .bloq-bio article div p {
        color: #02010A;
        text-align: justify;
        font-size: 1.2em;
        text-indent: 1em; }
      .bloq-bio article div img {
        filter: saturate(0%);
        transform: scale(1);
        transition: filter 0.4s ease-out, transform 0.4s ease-out; }
        .bloq-bio article div img:hover {
          filter: saturate(100%);
          transform: scale(1.02); }
    .bloq-bio article .grid-line::before {
      inline-size: 2px;
      block-size: 100vh;
      inset-block-start: 0;
      inset-inline-start: calc(calc(2%/2)*-1); }
    .bloq-bio article .article1 {
      grid-area: titulo1;
      justify-self: flex-end;
      align-self: start;
      rotate: 2deg;
      top: 5vh;
      right: 3vw; }
    .bloq-bio article .article2 {
      grid-area: contenido1;
      justify-self: stretch;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 0% 5%;
      text-align-last: right; }
      .bloq-bio article .article2 p {
        rotate: -1deg; }
    .bloq-bio article .article3 {
      grid-area: imagen;
      justify-self: center;
      align-self: center;
      z-index: 2; }
    .bloq-bio article .article4 {
      grid-area: titulo2;
      justify-self: flex-end;
      align-self: start;
      top: 5vh;
      rotate: 2deg; }
    .bloq-bio article .article5 {
      grid-area: contenido2;
      justify-self: stretch;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0% 5%;
      text-align-last: right; }
      .bloq-bio article .article5 p {
        rotate: -1deg; }
      .bloq-bio article .article5 img {
        margin-top: 3%;
        width: 60%;
        rotate: -1deg; }
    .bloq-bio article .article6 {
      grid-area: contenido2-5;
      justify-self: stretch;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-start;
      padding: 0% 5%;
      text-align-last: left; }
      .bloq-bio article .article6 p {
        rotate: 1deg; }
    .bloq-bio article .article7 {
      grid-area: titulo3;
      justify-self: stretch;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-end; }
      .bloq-bio article .article7 h3 {
        text-align: right;
        rotate: -2deg;
        position: relative;
        top: 7vh; }
    .bloq-bio article .article8 {
      grid-area: contenido3;
      justify-self: stretch;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0% 5%; }
      .bloq-bio article .article8 p {
        rotate: 1deg; }
    .bloq-bio article .article9 {
      grid-area: contenido3-5;
      justify-self: stretch;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0% 5%; }
      .bloq-bio article .article9 p {
        rotate: -1deg; }
      .bloq-bio article .article9 img {
        margin-top: 3%;
        width: 70%;
        rotate: -1deg; }
    .bloq-bio article .article10 {
      grid-area: contenido3-75;
      justify-self: stretch;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0% 5%; }
      .bloq-bio article .article10 p {
        rotate: 1deg; }
    .bloq-bio article .articlefinal {
      grid-area: final;
      justify-self: stretch;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-end; }
  .bloq-bio .bloq-bio__outro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%; }
    .bloq-bio .bloq-bio__outro h2 {
      color: #1D0B43;
      text-transform: uppercase;
      text-decoration: line-through solid 2px;
      font-size: 2.5em;
      font-weight: 500;
      text-align: center; }
  .bloq-bio .article-mobile {
    display: none;
    position: relative; }
    .bloq-bio .article-mobile .article1 {
      grid-area: titulo1;
      justify-self: center;
      align-self: center;
      rotate: 0deg;
      top: 0;
      right: 0; }
      .bloq-bio .article-mobile .article1 + dialog {
        top: 5vh; }
    .bloq-bio .article-mobile .article2 {
      grid-area: contenido1;
      justify-self: center;
      align-self: start;
      width: 100%;
      padding: 0%;
      rotate: 0deg;
      top: 0;
      right: 0; }
      .bloq-bio .article-mobile .article2 .pulse-button {
        top: 30vh;
        align-self: center; }
      .bloq-bio .article-mobile .article2 + dialog {
        top: 20vh; }
    .bloq-bio .article-mobile .article3 {
      grid-area: imagen;
      justify-self: center;
      align-self: center;
      left: 0.8%; }
      .bloq-bio .article-mobile .article3 + dialog {
        top: 45vh;
        margin-left: auto;
        margin-right: auto; }
    .bloq-bio .article-mobile .article4 {
      grid-area: titulo2;
      justify-self: center;
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      rotate: 0deg;
      top: 0;
      right: 0; }
      .bloq-bio .article-mobile .article4 + dialog {
        top: 90vh; }
    .bloq-bio .article-mobile .article5 {
      grid-area: contenido2;
      justify-self: center;
      align-self: start;
      width: 100%;
      padding: 0%;
      rotate: 0deg;
      top: 0;
      right: 0; }
      .bloq-bio .article-mobile .article5 .pulse-button {
        top: 20vh; }
      .bloq-bio .article-mobile .article5 + dialog {
        top: 110vh; }
    .bloq-bio .article-mobile .article6 {
      grid-area: contenido2-5;
      justify-self: center;
      align-self: start;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0%;
      rotate: 0deg;
      top: 0;
      right: 0; }
      .bloq-bio .article-mobile .article6 + dialog {
        top: 140vh; }
    .bloq-bio .article-mobile .article7 {
      grid-area: titulo3;
      justify-self: center;
      align-self: start;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      rotate: 0deg;
      top: 0;
      right: 0; }
      .bloq-bio .article-mobile .article7 + dialog {
        top: 185vh; }
    .bloq-bio .article-mobile .article8 {
      grid-area: contenido3;
      justify-self: center;
      align-self: start;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0%;
      rotate: 0deg;
      top: 0;
      right: 0; }
      .bloq-bio .article-mobile .article8 + dialog {
        top: 210vh; }
    .bloq-bio .article-mobile .article9 {
      grid-area: contenido3-5;
      justify-self: center;
      align-self: start;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0%;
      rotate: 0deg;
      top: 0;
      right: 0; }
      .bloq-bio .article-mobile .article9 + dialog {
        top: 250vh; }
    .bloq-bio .article-mobile .article10 {
      grid-area: contenido3-75;
      justify-self: center;
      align-self: start;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0%;
      rotate: 0deg;
      top: 0;
      right: 0; }
      .bloq-bio .article-mobile .article10 + dialog {
        top: 290vh; }
    .bloq-bio .article-mobile div .pulse-button {
      width: 50px;
      height: 50px;
      border: none;
      background-color: transparent;
      border-radius: 100%;
      position: relative; }
      .bloq-bio .article-mobile div .pulse-button::before {
        z-index: -1;
        content: '';
        position: relative;
        display: block;
        width: 200%;
        height: 200%;
        margin-left: -50%;
        margin-top: -50%;
        border-radius: 100%;
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite; }
      .bloq-bio .article-mobile div .pulse-button::after {
        z-index: -2;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite; }
    .bloq-bio .article-mobile .article__title .pulse-button::before {
      background-color: #1D0B43; }
    .bloq-bio .article-mobile .article__title .pulse-button::after {
      background-color: #4F518C;
      box-shadow: 2px 2px 5px rgba(2, 1, 10, 0.4); }
    .bloq-bio .article-mobile .article__paragraph .pulse-button::before {
      background-color: #767481; }
    .bloq-bio .article-mobile .article__paragraph .pulse-button::after {
      background-color: #767481;
      box-shadow: 2px 2px 5px rgba(2, 1, 10, 0.4); }
    .bloq-bio .article-mobile .article__img .pulse-button::before {
      background-color: #858AE3; }
    .bloq-bio .article-mobile .article__img .pulse-button::after {
      background-color: #858AE3;
      box-shadow: 2px 2px 5px rgba(2, 1, 10, 0.4); }
    .bloq-bio .article-mobile .article__img + dialog div img {
      width: 89%; }
    .bloq-bio .article-mobile .article__left + dialog {
      animation: close 1s forwards; }
      .bloq-bio .article-mobile .article__left + dialog[open] {
        animation: open 1s forwards; }
    .bloq-bio .article-mobile .article__right + dialog {
      animation: close2 1s forwards; }
      .bloq-bio .article-mobile .article__right + dialog[open] {
        animation: open2 1s forwards; }
    .bloq-bio .article-mobile .article__center + dialog {
      animation: close3 1s forwards; }
      .bloq-bio .article-mobile .article__center + dialog[open] {
        animation: open3 1s forwards; }
    .bloq-bio .article-mobile dialog {
      border: none;
      background-color: rgba(251, 250, 255, 0.8);
      position: absolute;
      width: 80%;
      z-index: 3;
      transition: display 1s allow-discrete, overlay 1s allow-discrete; }
      .bloq-bio .article-mobile dialog div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
        gap: 0% 3%;
        padding: 5% 5%; }
        .bloq-bio .article-mobile dialog div h3 {
          color: #1D0B43;
          font-size: 2em;
          text-align: center;
          font-weight: 500;
          width: 90%;
          margin-bottom: 0; }
        .bloq-bio .article-mobile dialog div button {
          width: 30px;
          font-size: 1em;
          font-weight: 700;
          aspect-ratio: 1/1;
          border: none;
          color: #FBFAFF;
          border-radius: 100%;
          background-color: #1D0B43; }
        .bloq-bio .article-mobile dialog div p {
          width: 90%; }
        .bloq-bio .article-mobile dialog div span {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 90%; }
          .bloq-bio .article-mobile dialog div span img {
            width: 80%; }
  .bloq-bio .open-button {
    animation: open-btn 1s forwards; }
  .bloq-bio .close-button {
    animation: close-btn 1s forwards; }

@keyframes pulse-ring {
  0% {
    transform: scale(0.33); }
  80%, 100% {
    opacity: 0; } }

@keyframes pulse-dot {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }

@keyframes open {
  from {
    opacity: 0;
    transform: translatex(0%); }
  to {
    opacity: 1;
    transform: translatex(10%); } }

@keyframes open2 {
  from {
    opacity: 0;
    transform: translatex(20%); }
  to {
    opacity: 1;
    transform: translatex(10%); } }

@keyframes open3 {
  from {
    opacity: 0;
    transform: translatey(-20%); }
  to {
    opacity: 1;
    transform: translatey(0%); } }

@keyframes open-btn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes close {
  from {
    opacity: 1;
    transform: translatex(10%); }
  to {
    opacity: 0;
    transform: translatex(0%); } }

@keyframes close2 {
  from {
    opacity: 1;
    transform: translatex(10%); }
  to {
    opacity: 0;
    transform: translatex(20%); } }

@keyframes close3 {
  from {
    opacity: 1;
    transform: translatey(0%); }
  to {
    opacity: 0;
    transform: translatey(-20%); } }

@keyframes close-btn {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/*!		QUERIES		*/
@media screen and (max-width: 1200px) {
  .bloq-albums .bloq-albums__album .bloq-albums__album__content h2 {
    font-size: 2.5em; } }

@media screen and (max-width: 950px) {
  .bloq-albums .bloq-albums__album .bloq-albums__album__content h2 {
    font-size: 2.2em; }
  /*		BIO		*/
  .bloq-bio .bloq-bio__intro p {
    font-size: 1.2em; }
  .bloq-bio article div h3 {
    font-size: 2em; }
  .bloq-bio article div p {
    font-size: 1em; } }

@media screen and (max-width: 830px) {
  /*		MUSIC		*/
  .bloq-albums .bloq-albums__album .bloq-albums__album__content h2 {
    font-size: 1.8em;
    letter-spacing: -2px; }
  .bloq-albums .bloq-albums__album .bloq-albums__album__content p {
    font-size: 1.4em; }
  /*		MERCH		*/
  .bloq-merch .bloq-merch__filters h2 {
    font-size: 2em; }
  .bloq-merch .bloq-merch__filters select {
    font-size: 1em;
    padding: 1.2%; }
  .bloq-merch .bloq-merch__products ul {
    gap: 2%; }
    .bloq-merch .bloq-merch__products ul li {
      width: 49%; }
  /*		TEMPLATE PAGE		*/
  .page footer p {
    font-size: 1.4em; }
  .page footer .sub-texto-footer {
    font-size: 1em; }
  /*		BIO		*/
  .bloq-bio .bloq-bio__intro h2 {
    font-size: 2em; }
  .bloq-bio .bloq-bio__intro p {
    font-size: 1.1em; }
  .bloq-bio article div h3 {
    font-size: 1.6em; }
  .bloq-bio article .article3 img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 768px) {
  .home header nav {
    display: none; }
  .home header .home-nav-responsive {
    display: block; }
    .home header .home-nav-responsive ul {
      grid-template-columns: 20% 1fr 20%; }
      .home header .home-nav-responsive ul .bloq-link-menu-responsive {
        margin: 10%; }
      .home header .home-nav-responsive ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        position: relative;
        padding: 2% 10%;
        background-color: #FBFAFF;
        transition: background-color 0.4s ease-out;
        mix-blend-mode: lighten;
        opacity: 0.7; }
        .home header .home-nav-responsive ul li a {
          font-size: 2.6em;
          font-weight: 600;
          text-align: center;
          color: #02010A;
          transition: color 0.4s ease-out; }
      .home header .home-nav-responsive ul .bloq-logo-responsive {
        mix-blend-mode: difference;
        background-color: transparent; }
        .home header .home-nav-responsive ul .bloq-logo-responsive img {
          width: 70%;
          display: block;
          margin-left: auto;
          margin-right: auto; }
  /*		MENU PAG INTERNA	*/
  .page {
    grid-template-columns: 150px 1fr; }
    .page header nav {
      display: none; }
    .page header .menu-responsive {
      display: flex;
      flex-grow: 3;
      align-items: center; }
      .page header .menu-responsive ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around; }
        .page header .menu-responsive ul li {
          background-color: transparent;
          opacity: 0.7;
          mix-blend-mode: difference; }
          .page header .menu-responsive ul li a {
            color: #FBFAFF;
            font-size: 2em; }
  /*		MEDIA		*/
  .bloq-media .bloq-media__hover__content h2 {
    font-size: 2.5em;
    letter-spacing: -2px;
    margin-bottom: 0%; }
  .bloq-media .bloq-media__hover__content hr {
    margin: 1% 0% 2%; }
  /*		MERCH		*/
  .bloq-merch .bloq-merch__filters h2 {
    font-size: 1.8em; }
  /*		BIO		*/
  .bloq-bio .bloq-bio__intro h2 {
    font-size: 1.6em; }
  .bloq-bio .article-desktop {
    display: none; }
  .bloq-bio .article-mobile {
    display: grid;
    grid-template-areas: "titulo1 contenido1" ". contenido1" "imagen imagen" "titulo2 contenido2" ". contenido2" "contenido2-5 ." ". titulo3" "contenido3 ." ". contenido3-5" "contenido3-75 final"; }
  .bloq-bio .bloq-bio__outro h2 {
    font-size: 1.6em; } }

@media screen and (max-width: 730px) {
  /*		BIO		*/
  .bloq-bio article div h3 {
    font-size: 1.3em; }
  .bloq-bio article div p {
    font-size: 0.9em; }
  .bloq-bio article .article5 img {
    width: 80%; } }

@media screen and (max-width: 680px) {
  /*		MUSIC		*/
  .bloq-albums .bloq-albums__album {
    width: 95%;
    margin: 0% 2.5% 2.5%; }
  /*		MEDIA 		*/
  .bloq-media {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "fotos" "videos";
    gap: 2% 0%;
    place-items: stretch;
    align-content: start; }
  /*		MERCH		*/
  .bloq-merch .bloq-merch__filters select {
    width: 25%; }
  .bloq-merch .bloq-merch__products ul {
    gap: 0%; }
    .bloq-merch .bloq-merch__products ul li {
      width: 100%; } }

@media screen and (max-width: 640px) {
  /*		MERCH		*/
  .bloq-merch .bloq-merch__filters h2 {
    font-size: 1.5em; }
  /*		BIO 		*/
  .bloq-bio .article-mobile dialog div h3 {
    font-size: 1.6em; }
  .bloq-bio .bloq-bio__outro a {
    font-size: 1.2em;
    text-align: center;
    width: 80%; } }

@media screen and (max-width: 560px) {
  /*		MERCH		*/
  .bloq-merch .bloq-merch__filters {
    flex-wrap: wrap;
    justify-content: center; }
    .bloq-merch .bloq-merch__filters h2 {
      text-align: center;
      width: 100%;
      margin-bottom: 5%; }
  .bloq-bio .article-mobile .article__img + dialog div img {
    width: 85%; }
  .bloq-bio .article-mobile .article3 + dialog {
    top: 55vh; } }

@media screen and (max-width: 476px) {
  /*		HOME 		*/
  .home header .home-nav-responsive ul .bloq-link-menu-responsive {
    margin: 15%; }
  .home header .home-nav-responsive ul li a {
    font-size: 2.2em; }
  .home header .home-nav-responsive ul .bloq-logo-responsive img {
    width: 90%; }
  /*		TEMPLATE PAGE		*/
  .page {
    grid-template-columns: 100px 1fr; }
    .page header .menu-responsive ul li a {
      font-size: 1.3em; }
    .page main h1 {
      font-size: 2.5em; }
    .page footer p {
      font-size: 1.2em; }
    .page footer div a img {
      width: 25px; }
  /*		MUSIC		*/
  .bloq-albums .bloq-albums__album .bloq-albums__album__content h2 {
    font-size: 1.4em; }
  /*		MEDIA		*/
  .bloq-media .bloq-media__hover__content h2 {
    font-size: 2em; } }

@media screen and (max-width: 425px) {
  /*		MERCH		*/
  .bloq-merch .bloq-merch__products ul li div h3 {
    font-size: 1.4em; }
  .bloq-merch .bloq-merch__products ul li div p {
    font-size: 1.3em; }
  .bloq-merch .bloq-merch__filters select {
    width: 60%; }
  /*		BIO 		*/
  .bloq-bio .article-mobile dialog {
    width: 90%; }
    .bloq-bio .article-mobile dialog div h3 {
      font-size: 1.5em; }
    .bloq-bio .article-mobile dialog div p {
      font-size: 0.8em; }
  .bloq-bio mark {
    letter-spacing: 4px; }
  /*		ANIMACIONES		*/
  @keyframes open {
    from {
      opacity: 0;
      transform: translatex(0%); }
    to {
      opacity: 1;
      transform: translatex(5%); } }
  @keyframes open2 {
    from {
      opacity: 0;
      transform: translatex(15%); }
    to {
      opacity: 1;
      transform: translatex(5%); } }
  @keyframes close {
    from {
      opacity: 1;
      transform: translatex(5%); }
    to {
      opacity: 0;
      transform: translatex(0%); } }
  @keyframes close2 {
    from {
      opacity: 1;
      transform: translatex(5%); }
    to {
      opacity: 0;
      transform: translatex(15%); } } }

@media screen and (max-width: 375px) {
  .bloq-bio .article-mobile .article3 + dialog {
    top: 65vh; }
  .bloq-bio .bloq-bio__outro a {
    font-size: 1em; } }

@media screen and (max-width: 360px) {
  .bloq-bio .article-mobile dialog div h3 {
    font-size: 1.2em; }
  .bloq-bio .article-mobile dialog div p {
    font-size: 0.7em; } }

@media screen and (max-width: 320px) {
  .bloq-bio .article-mobile dialog div h3 {
    font-size: 1.1em; } }
