/*		GENERALES		*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
:root{
	--color-dark-void:#02010A;
	--color-void:#11001C;
	--color-light-void:#4F518C;
	--color-accent:#858AE3;
	--color-white:#FBFAFF;
	--color-void-secondary:#767481;
	--color-void-opacity:rgba(17,0,28,0.9);
	--text-decoration-line:line-through solid 2px;
	--transition-menu:0.4s background-color ease-out, 0.4s color ease-out;
	--transition-opacity:0.4s opacity ease-out;
}
h1, h2, h3, h4, h5, h6, p, a{
	text-decoration:none;
	font-family: "Cormorant", serif;
}
a{
	text-decoration:none !important;
}
p{
	font-size:18px;
}
ul{
	padding-left:0 !important;
}
li {
    list-style-type: none;
}
.boton-default, .boton-disabled{
	color:var(--color-white);
	font-size:2em;
	padding:1% 2%;
	text-transform:uppercase;
	letter-spacing:-2px;
	transition:background-color 0.4s;
}
.boton-default{
	background-color:var(--color-void);
}
.boton-default:hover{
	background-color:var(--color-light-void);
	text-decoration:var(--text-decoration-line) !important;
	transition:background-color 0.4s;
}
.boton-disabled{
	background-color:var(--color-void-secondary);
	cursor:not-allowed;
	margin-top:3%;
}
/*		HOME		*/
.banner-presentacion{
	width:100%;
	height:100vh;
	position:relative;
	overflow:hidden;
}
.banner-video{
	position:fixed;
	right: 0;
  	top: 0;
	z-index:-1;
	min-width:100%;
	min-height:100vh;
	transform: translateX(calc((100% - 100vw) / 2));
}
.bloq-logo{
	mix-blend-mode:difference;
}
.bloq-logo img{
	width:70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.home-nav-responsive{
	display:none;
}
.home-item-1{
	grid-area:menu1;
	justify-self:start;
	align-self:start;
}
.home-item-2{
	grid-area:logo;
	justify-self:center;
	align-self:center;
}
.home-item-3{
	grid-area:menu2;
	justify-self:end;
	align-self:start;
}
.home-item-4{
	grid-area:menu3;
	justify-self:start;
	align-self:end;
}
.home-item-5{
	grid-area:menu4;
	justify-self:end;
	align-self:end;
}
.banner-presentacion nav ul{
	display:grid;
	grid-template-columns:1fr 5fr 1fr;
	grid-template-rows:1fr 1fr;
	grid-template-areas:"menu1 logo menu2"
	"menu3 logo menu4";
	height:100vh;
}
.home .tooltip-inner{
	font-family:"Cormorant", serif;
	font-size:2em;
	background-color:var(--color-void-opacity) !important;
}
.home .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before{
	border-right-color:var(--color-void-opacity) !important;
}
/*		OTHER PAGES		*/
.page{
	display:grid;
	grid-template-rows: 1fr auto;
    grid-template-columns: 100px 1fr;
    grid-template-areas:"header content"
    "header footer";
}
.header-left, .content, footer{
	background-image:url('../img/fondo.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}
.header-left{
	padding-left:2%;
	padding-right:2%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	height:100vh;
	position:sticky;
	top:0;
	grid-area:header;
}
.header-left .menu-responsive{
		display:none;
}
.header-left .menu{
	display:flex;
	flex-grow:3;
	align-items:center;
}
.header-left .menu ul{
	display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
.bloq-link-menu{
	width:80px;
	height:80px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:relative;
}
.bloq-link-menu a{
	font-size:3em;
	font-weight:600;
	text-align:center;
}
.home-nav .bloq-link-menu{
	background-color:var(--color-white);
	transition:var(--transition-menu);
	mix-blend-mode:soft-light;
}
.home-nav .bloq-link-menu a{
	color:var(--color-dark-void);
	transition:var(--transition-menu);
}
.home-nav .bloq-link-menu:hover{
	background-color:var(--color-dark-void);
	transition:var(--transition-menu);
}
.home-nav .bloq-link-menu:hover a{
	color:var(--color-white);
	transition:var(--transition-menu);
}
.menu .bloq-link-menu{
	background-color:transparent;
	opacity:0.7;
	mix-blend-mode:difference;
	transition:var(--transition-menu), var(--transition-opacity);
}
.menu .bloq-link-menu a{
	color:var(--color-white);
	transition:var(--transition-menu);
}
.menu .bloq-link-menu:hover{
	background-color:var(--color-white);
	opacity:1;
	transition:var(--transition-menu), var(--transition-opacity);
}
.menu .bloq-link-menu:hover a{
	color:var(--color-void);
	transition:var(--transition-menu);
}
.page .tooltip-inner{
	font-family:"Cormorant", serif;
	font-size:2em;
	background-color:var(--color-void-opacity) !important;
}
.page .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before{
	border-right-color:var(--color-void-opacity) !important;
}
.bloq-redes{
	flex-grow:1;
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:40px 40px;
	gap:5% 20%;
	place-items:center;
	align-content:center;
}
.redes-item img{
	aspect-ratio:1/1;
	width:30px;
	filter:opacity(0.7);
	transition:0.4s filter ease-out;
}
.redes-item img:hover{
	filter:opacity(1);
	transition:0.4s filter ease-out;
}
.content{
	padding-top:2%;
	padding-left:2%;
	padding-right:2%;
	grid-area:content;
}
.title{
	font-size:3em;
	font-weight:600;
	letter-spacing:-4px;
	text-decoration:var(--text-decoration-line);
	text-transform:uppercase;
	color:var(--color-void);
}
.divisor{
	background:var(--color-light-void);
	height:2px;
	rotate:-0.8deg;
	margin-top:-1.5%;
	margin-bottom:5%;
}
footer{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding-bottom:3%;
	grid-area:footer;
}
footer p{
	font-size:1.8em;
	color:var(--color-void-secondary);
	text-align:center;
	margin-bottom:0;
	mix-blend-mode:difference;
}
footer div{
	display:flex;
	gap:10%;
	justify-content:center;
	align-items:center;
	margin:1% 0%;
}
footer div a img{
	width:40px;
	filter:opacity(0.7);
	transition:0.4s filter ease-out;
}
footer div a img:hover{
	filter:opacity(1);
	transition:0.4s filter ease-out;
}
footer .sub-texto-footer{
	font-style:italic;
	font-size:1.3em;
}
/*		MUSIC		*/
.bloq-albums{
	display:flex;
	flex-wrap:wrap;
}
.bloq-albums__album{
	width:45%;
	margin:0% 2.5% 5%;
	align-self:center;
	position:relative;
	overflow:hidden;
}
.bloq-albums__album img{
	width:100%;
	transition:filter 0.4s;
	filter:brightness(100%) saturate(1);
}
.bloq-albums__album:hover img{
	filter:brightness(60%) saturate(0.3);
	transition:filter 0.4s;
}
.bloq-albums__album__content{
	position:absolute;
	top:0;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	flex-direction:column;
	rotate:4deg;
	opacity:0;
	transition:var(--transition-opacity);
}
.bloq-albums__album:hover .bloq-albums__album__content{
	opacity:1;
	transition:var(--transition-opacity);
}
.bloq-albums__album__content h2{
	color:var(--color-white);
	font-size:3em;
	font-weight:300;
	letter-spacing:-4px;
	text-decoration:var(--text-decoration-line);
	text-transform:uppercase;
	text-align:center;
}
.bloq-albums__album__content hr{
	background:var(--color-white);
	height:3px;
	width:102%;
	opacity:1;
	margin:1% 0%;
}
.bloq-albums__album__content p{
	color:var(--color-white);
	font-size:2em;
	font-weight:300;
	font-variant-numeric:lining-nums;
}
/*		MEDIA		*/
.bloq-media{
	display:grid;
	grid-template-rows:1fr 1fr 1fr;
	grid-template-columns:1fr 1fr;
	grid-template-areas:"fotos ."
	"fotos videos"
	". videos";
	column-gap:2%;
	padding:0 2.5%;
	margin-bottom:5%;
}
.bloq-media__fotos{
	grid-area:fotos;
}
.bloq-media__videos{
	grid-area:videos;	
}
.bloq-media--hover{
	overflow:hidden;
	position:relative;
}
.bloq-media--hover img{
	width:100%;
	transition:filter 0.4s;
	filter:brightness(100%) saturate(1);
}
.bloq-media--hover:hover img{
	filter:brightness(60%) saturate(0.3);
	transition:filter 0.4s;
}
.bloq-media__hover__content{
	position:absolute;
	top:0;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	flex-direction:column;
	rotate:4deg;
	opacity:0;
	transition:var(--transition-opacity);
}
.bloq-media__hover__content:hover{
	opacity:1;
	transition:var(--transition-opacity);
}
.bloq-media__hover__content h2{
	color:var(--color-white);
	font-size:3em;
	font-weight:300;
	letter-spacing:-4px;
	text-decoration:var(--text-decoration-line);
	text-transform:uppercase;
	text-align:center;
}
.bloq-media__hover__content hr{
	background:var(--color-white);
	height:3px;
	width:102%;
	opacity:1;
	margin:1% 0%;
}
/*		RESPONSIVE		*/
@media screen and (max-width: 1200px){
	.bloq-albums__album__content h2{
		font-size: 2.5em;
	}
}
@media screen and (max-width: 950px){
	.bloq-albums__album__content h2{
		font-size: 2.2em;
	}
}
@media screen and (max-width: 830px){
	.bloq-albums__album__content h2{
		font-size: 1.8em;
		letter-spacing:-2px;
	}
	.bloq-albums__album__content p{
		font-size: 1.4em;
	}
	.boton-default, .boton-disabled{
		font-size:1.4em;
		letter-spacing:0px;
	}
	footer p{
		font-size:1.4em;
	}
	footer .sub-texto-footer{
		font-size:1em;
	}
}
@media screen and (max-width: 768px){
	:root{
		--text-decoration-line:line-through solid 1px;
	}
	.home-nav{
		display:none;
	}
	.home-nav-responsive{
		display:block;
	}
	.banner-presentacion nav ul {
    	grid-template-columns: 20% 1fr 20%;
	}
	.bloq-link-menu-responsive{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		position:relative;
		padding:2% 10%;
	}
	.bloq-link-menu-responsive a{
		font-size:2.6em;
		font-weight:600;
		text-align:center;
	}
	.bloq-logo-responsive{
		mix-blend-mode:difference;
	}
	.home-nav-responsive .bloq-link-menu-responsive{
		background-color:var(--color-white);
		transition:var(--transition-menu);
		mix-blend-mode:lighten;
		opacity:0.7;
	}
	.home-nav-responsive .bloq-link-menu-responsive a{
		color:var(--color-dark-void);
		transition:var(--transition-menu);
	}
	.bloq-logo-responsive img {
    	width: 70%;
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
	/*		MENU PAG INTERNA	*/
	.page{
		grid-template-columns: 150px 1fr;
	}
	.header-left .menu{
		display:none;
	}
	.header-left .menu-responsive{
		display:flex;
		flex-grow:3;
		align-items:center;
	}
	.header-left .menu-responsive ul {
    	display: flex;
    	flex-direction: column;
    	height: 100%;
    	justify-content: space-around;
	}
	.menu-responsive .bloq-link-menu-responsive{
    	background-color: transparent;
    	opacity: 0.7;
    	mix-blend-mode: difference;
	}
	.menu-responsive .bloq-link-menu-responsive a {
    	color: var(--color-white);
    	transition: var(--transition-menu);
	}
	.menu-responsive .bloq-link-menu-responsive a {
        font-size: 2em;
    }
}
@media screen and (max-width: 680px){
	.bloq-albums__album{
		width: 95%;
    	margin: 0% 2.5% 2.5%;
	}
}
@media screen and (max-width: 476px){
	.page{
		grid-template-columns: 100px 1fr;
	}
	.menu-responsive .bloq-link-menu-responsive a{
		font-size:1.3em;
	}
	.bloq-logo-responsive img {
    	width: 90%;
	}
	.bloq-link-menu-responsive a{
		font-size:2.2em;
	}
	.title{
		font-size:2.5em;
	}
	footer div a img{
		width:30px;
	}
}
@media screen and (max-width: 476px){
	.bloq-albums__album__content h2{
		font-size:1.4em;
	}
	footer p{
		font-size:1.2em;
	}
	footer div a img{
		width:25px;
	}
}
