.bloq-merch{
	@include flex(column, flex-start, stretch);
	padding:0 2.5%;
	.bloq-merch__filters{
		@include flex(row, space-between, center);
		h2{
			color:map-get($colores,"color-void");
			text-transform:uppercase;
			text-decoration:$text-decoration-line;
			font-size:2.5em;
			font-weight:500;
			margin-bottom:0;
		}
		select{
			font-family:$font-family;
			font-size:1.5em;
			font-weight:300;
			border:none;
			color:map-get($colores, "color-white");
			background-color:rgba(map-get($colores,"color-void"), .7);
			background-blend-mode:difference;
			padding:1%;
			transition:background-color $transition-duration $transition-function;
			&:hover{
				background-color:rgba(map-get($colores,"color-void"), .8);
			}
			&:focus{
				background-color:map-get($colores,"color-void");
			}
			&:focus-visible{
				outline:none;
			}
			option{
				&:disabled{
					background-color:map-get($colores,"color-void");
				}
			}
		}
	}
	.bloq-merch__products{
		margin-top:5%;
		ul{
			@include flex(row, center, stretch, 0.5%, true);
			li{
				width:33%;
				div{
					a{
						@include flex(row, center, center);
						@extend %background-products;
						aspect-ratio:1/1;
						&:hover img{
							transform:scale(1.1) rotate(-8deg);
						}
						img{
							transition:transform $transition-duration $transition-function;
							width:90%;
						}
					}
					h3{
						margin-top:2%;
						color:map-get($colores,"color-dark-void");
						font-size:1.8em;
						font-weight:500;
					}
					p{
						color:map-get($colores,"color-void");
						font-size:1.5em;
						font-weight:300;
						font-variant-numeric:lining-nums;
					}
				}
			}
		}
	}
}