.page{
	@include grid(100px 1fr, 1fr auto, "header content" "header footer");
    header{
    	@include flex(column, space-between, center);
    	@include grid-items(header);
    	@extend %background-img;
    	padding-left:2%;
		padding-right:2%;
		height:100vh;
		position:sticky;
		top:0;
		nav{
			@include flex(row, flex-start, center);
			flex-grow:3;
			ul{
				@include flex(column, space-around, stretch);
    			height: 100%;
    			li{
    				@include flex(column, center, center)
    				width:80px;
					height:80px;
					position:relative;
					background-color:transparent;
					opacity:0.7;
					mix-blend-mode:difference;
					transition:background-color $transition-duration $transition-function, opacity $transition-duration $transition-function;
					&:hover{
						background-color:map-get($colores,"color-white");
						opacity:1;
						a{
							color:map-get($colores,"color-void");
						}
					}
					a{
						font-size:3em;
						font-weight:600;
						text-align:center;
						color:map-get($colores,"color-white");
						transition:color $transition-duration $transition-function;
					}
    			}
			}
		}
		.menu-responsive{
			display:none;
		}
		.bloq-redes{
			@include grid(1fr 1fr, 40px 40px, "", true, 5% 20%, center, center);
			flex-grow:1;
			div{
				img{
					aspect-ratio:1/1;
					width:30px;
					filter:opacity(0.7);
					transition:filter $transition-duration $transition-function;
					&:hover{
						filter:opacity(1);
					}
				}
			}
		}
    }
    .tooltip-inner{
		font-family:"Cormorant", serif;
		font-size:2em;
		background-color:map-get($colores,"color-void-opacity") !important;
	}
	.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before{
		border-right-color:map-get($colores,"color-void-opacity") !important;
	}
	main{
		@include grid-items(content);
		@extend %background-img;
		padding-top:2%;
		padding-left:2%;
		padding-right:2%;
		h1{
			font-size:3em;
			font-weight:600;
			letter-spacing:-4px;
			text-decoration:$text-decoration-line;
			text-transform:uppercase;
			color:map-get($colores,"color-void");
		}
		hr{
			background:map-get($colores,"color-void");
			height:2px;
			rotate:-0.8deg;
			margin-top:-1.5%;
			margin-bottom:5%;
		}
	}
	footer{
		@include flex(column, center, center);
		@include grid-items(footer);
		@extend %background-img;
		padding-bottom:3%;
		p{
			font-size:1.8em;
			color:map-get($colores,"color-void-secondary");
			text-align:center;
			margin-bottom:0;
			mix-blend-mode:difference;
		}
		div{
			@include flex(row, center, center, 10%)
			margin:1% 0%;
			a{
				img{
					width:40px;
					filter:opacity(0.7);
					transition:filter $transition-duration $transition-function;
					&:hover{
						filter:opacity(1);
					}
				}
			}
		}
		.sub-texto-footer{
			font-style:italic;
			font-size:1.3em;
		}
	}
}