//COLORES
$colores:("color-dark-void":#02010A,
	"color-void":#1D0B43,
	"color-light-void":#4F518C,
	"color-void-secondary":#767481,
	"color-accent":#858AE3,
	"color-white":#FBFAFF,
	"color-void-opacity":rgba(17,0,28,0.9)
	);
//VARIABLES EXTRA
$font-family:"Cormorant", serif;
$text-decoration-line:line-through solid 2px;
$transition-duration:0.4s;
$transition-function:ease-out;
//PLACEHOLDERS
%boton{
	color:map-get($colores,"color-white");
	font-size:2em;
	padding:1% 2%;
	text-transform:uppercase;
	letter-spacing:-2px;
	transition:background-color $transition-duration $transition-function;
}
%background-img{
	background-image:url('../img/fondo.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}
%background-products{
	background-image:url('../img/fondo-productos.jpg');
	background-repeat:no-repeat;
	background-attachment:local;
	background-position:center;
	background-size:cover;
}
//MIXINS
@mixin grid($values-column, $values-row, $list-names, $align: false, $gap: 0, $place-items: stretch, $align-content: start){
	display:grid;
	grid-template-columns:$values-column;
	grid-template-rows:$values-row;
	@if $list-names != ""{
		grid-template-areas:$list-names;
	}
	@if $align{
		gap:$gap;
		place-items:$place-items;
		align-content:$align-content;
	}
}
@mixin grid-items($grid-area, $justify-self: stretch, $align-self: stretch){
	grid-area:$grid-area;
	justify-self:$justify-self;
	align-self:$align-self;
}
@mixin flex($flex-direction, $justify-content, $align-items, $gap: normal, $wrap: false, $flex-wrap: wrap, $align-content: stretch){
	display:flex;
	flex-direction:$flex-direction;
	justify-content:$justify-content;
	align-items:$align-items;
	@if $gap != normal{
		gap:$gap;
	}
	@if $wrap{
		flex-wrap:$flex-wrap;
		align-content:$align-content;
	}
}
//MEDIA QUERIES EN VARIABLES
@media screen and (max-width: 830px){
	%boton{
		font-size:1.4em;
		letter-spacing:0px;
	}
}
@media screen and (max-width: 768px){
	$text-decoration-line:line-through solid 1px;
}
@media screen and (max-width: 340px){
	%boton{
		font-size:1.1em;
	}
}