@media screen and (max-width: 1200px){
	.bloq-albums{
		.bloq-albums__album{
			.bloq-albums__album__content{
				h2{
					font-size: 2.5em;
				}
			}
		}
	}
}
@media screen and (max-width: 950px){
	.bloq-albums{
		.bloq-albums__album{
			.bloq-albums__album__content{
				h2{
					font-size: 2.2em;
				}
			}
		}
	}
}
@media screen and (max-width: 830px){
	.bloq-albums{
		.bloq-albums__album{
			.bloq-albums__album__content{
				h2{
					font-size: 1.8em;
					letter-spacing:-2px;
				}
				p{
					font-size:1.4em;
				}
			}
		}
	}
	.page{
		footer{
			p{
				font-size:1.4em;
			}
			.sub-texto-footer{
				font-size:1em;
			}
		}
	} 
}
@media screen and (max-width: 768px){
	.home{
		header{
			nav{
				display:none;
			}
			.home-nav-responsive{
				display:block;
				ul{
					grid-template-columns: 20% 1fr 20%;
					li{
						@include flex(column, center, center);
						width:auto;
						height:auto;
						position:relative;
						padding:2% 10%;
						background-color:map-get($colores,"color-white");
						transition:background-color $transition-duration $transition-function;
						mix-blend-mode:lighten;
						opacity:0.7;
						a{
							font-size:2.6em;
							font-weight:600;
							text-align:center;
							color:map-get($colores,"color-dark-void");
							transition:color $transition-duration $transition-function;
						}
					}
					.bloq-logo-responsive{
						mix-blend-mode:difference;
						background-color:transparent;
						img{
							width: 70%;
    						display: block;
    						margin-left: auto;
    						margin-right: auto;
						}
					}
				}
			}
		}
	}
	/*		MENU PAG INTERNA	*/
	.page{
		grid-template-columns: 150px 1fr;
		header{
			nav{
				display:none;
			}
			.menu-responsive{
				display:flex;
				flex-grow:3;
				align-items:center;
				ul{
					display: flex;
	    			flex-direction: column;
	    			height: 100%;
	    			justify-content: space-around;
	    			li{
	    				background-color: transparent;
	    				opacity: 0.7;
	    				mix-blend-mode: difference;
	    				a{
	    					color: map-get($colores,"color-white");
	    					font-size: 2em;
	    				}
	    			}
				}
			}
		}
	}
}
@media screen and (max-width: 680px){	
	.bloq-albums{
		.bloq-albums__album{
			width: 95%;
    		margin: 0% 2.5% 2.5%;
		}
	}
}
@media screen and (max-width: 476px){
	.home{
		header{
			.home-nav-responsive{
				ul{
					li{
						a{
							font-size:2.2em;
						}
					}
					.bloq-logo-responsive{
						img{
							width: 90%;
						}
					}
				}
			}
		}
	}
	.page{
		grid-template-columns: 100px 1fr;
		header{
			.menu-responsive{
				ul{
					li{
						a{
							font-size:1.3em;
						}
					}
				}
			}
		}
		main{
			h1{
				font-size:2.5em;
			}
		}
		footer{
			div{
				a{
					img{
						width:30px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 476px){
	.bloq-albums{
		.bloq-albums__album{
			.bloq-albums__album__content{
				h2{
					font-size: 1.4em;
				}
			}
		}
	}
	.page{
		footer{
			p{
				font-size:1.2em;
			}
			div{
				a{
					img{
						width:25px;	
					}
				}
			}
		}
	}
}